<div style="width: 400px; margin:auto" *ngIf=currentEmployee>
  <mat-form-field appearance="fill">
    <mat-label>Name: {{currentEmployee.name}}</mat-label>
    <input matInput [(ngModel)]="currentEmployee.name">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Address: {{currentEmployee.address}}</mat-label>
    <input matInput [(ngModel)]="currentEmployee.address">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Start Date: {{currentEmployee.startDate | date}}</mat-label>
    <input matInput type="datetime-local" [(ngModel)]="currentEmployee.startDate">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>End Date: {{currentEmployee.endDate | date}}</mat-label>
    <input matInput type="datetime-local" [(ngModel)]="currentEmployee.endDate" [formControl]="enddate">
    <mat-error *ngIf="!currentEmployee.active">{{getErrorEndDate()}}</mat-error>
  </mat-form-field>
  <br>
    <mat-form-field appearance="fill">
      <mat-label>Status: {{ currentEmployee.active ? "Active" : "Inactive" }}</mat-label>
      <mat-select [(value)]="selected" [(ngModel)]="currentEmployee.active">
        <mat-option value="true" (click)="updateActive(true)">
          Activate</mat-option>
        <mat-option value="false" (click)="updateActive(false)">
          Deactivate</mat-option>
      </mat-select>
    </mat-form-field>
  <br>
</div>

<div style="width: 400px; margin:auto">
<button mat-button style="color:rgb(206,0,00);" (click)="updateEmployee()">
  <mat-icon>save</mat-icon>Update
</button>
</div>