<div style="width: 400px; margin:auto" *ngIf=!submitted>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [formControl]="name" [(ngModel)]="employee.name" required>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <input matInput [formControl]="address" [(ngModel)]="employee.address" required>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Start Date</mat-label>
    <input matInput type="datetime-local" [formControl]="startdate" [(ngModel)]="employee.startDate" required>
  </mat-form-field>
  <br>
    <mat-label>Status : Active</mat-label>
  <br>
  <button mat-button style="color:rgb(206,0,00);" (click)="saveEmployee()">
    <mat-icon>save</mat-icon> Save
  </button>
  <mat-error *ngIf="name.invalid">{{getErrorName()}}</mat-error>
  <mat-error *ngIf="address.invalid">{{getErrorAddress()}}</mat-error>
  <mat-error *ngIf="startdate.invalid">{{getErrorStartDate()}}</mat-error>
</div>

<div *ngIf=submitted>
  <h4 style="color:rgb(206,0,00);width: 400px; margin:auto">Employee was added successfully</h4>
<button mat-button style="color:rgb(206,0,00);" (click)="newEmployee()">
  <mat-icon>portrait</mat-icon> Add Another Employee
</button>
</div>