<h2>New Order Form</h2>
<!-- <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field> -->
  <!-- [(ngModel)]="order.customerId" -->
<form>
    <label>Customer Id:</label><br>
    <input type="number"
      placeholder="Customer Id"><br>

    <label>Employee Id:</label><br>
    <input type="number" placeholder="Employee Id"><br>

    <label>Products:</label><br>
    <input type="text" placeholder="Products"><br>

    <label>Date:</label><br>
    <input type="datetime-local" placeholder="Date"><br>

    <label>Total:</label><br>
    <input type="number" placeholder="Total"><br>

    <label>Zipcode:</label><br>
    <input type="number" placeholder="Zipcode"><br>

</form>
