<h2>New Order Form</h2>
<!-- <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field> -->
  <!-- [(ngModel)]="order.customerId" -->
  
<div *ngIf="!submitted">
<form>
    <label>Customer Id:</label><br>
    <input type="number"
    placeholder="Customer Id"
    [(ngModel)]="order.customerId"
    name="customerId"><br>

    <label>Employee Id:</label><br>
    <input type="number" 
    placeholder="Employee Id"
    [(ngModel)]="order.employeeId"
    name="employeeId"><br>

    <label>Products:</label><br>
    <input type="text" 
    placeholder="Products"
    [(ngModel)]="order.products"
    name="products"><br>

    <label>Date:</label><br>
    <input type="datetime-local" 
    placeholder="Date"
    [(ngModel)]="order.timestamp"
    name="timestamp"><br>

    <label>Total:</label><br>
    <input type="number" 
    placeholder="Total"
    [(ngModel)]="order.total"
    name="total"><br>

    <label>Zipcode:</label><br>
    <input type="number" 
    placeholder="Zipcode"
    [(ngModel)]="order.zipcode"
    name="zipcode"><br>

    <br>
    <button (click)="saveOrder()" class="btn btn-success">Submit Order</button>
</form>
</div>

<div *ngIf=submitted>
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newOrder()">Add Another</button>
</div>
