<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <button mat-icon-button routerLink="customers">Customers</button>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <button mat-icon-button routerLink="employees">Employees</button>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <button mat-icon-button routerLink="orders">Orders</button>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <button mat-icon-button routerLink="product">Product</button>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <button mat-icon-button routerLink="reports">Reports</button>
        </ng-template>
    </mat-tab>
    
  </mat-tab-group>
  <router-outlet></router-outlet>
