<ngx-charts-bar-vertical 
[view]="[1000,400]"
[results]="zip1"
[xAxisLabel]="'Year'"
[legendTitle]="'Zipcode 55501 Sale Chart'"
[yAxisLabel]="'Revenue'"
[legend]="true"
[showXAxisLabel]="true"
[showYAxisLabel]="true"
[xAxis]="true"
[yAxis]="true"
[gradient]="true">
</ngx-charts-bar-vertical>

<ngx-charts-bar-vertical 
[view]="[1000,400]"
[results]="zip2"
[xAxisLabel]="'Year'"
[legendTitle]="'Zipcode 55502 Sale Chart'"
[yAxisLabel]="'Revenue'"
[legend]="true"
[showXAxisLabel]="true"
[showYAxisLabel]="true"
[xAxis]="true"
[yAxis]="true"
[gradient]="true">
</ngx-charts-bar-vertical>

<ngx-charts-bar-vertical 
[view]="[1000,400]"
[results]="zip3"
[xAxisLabel]="'Year'"
[legendTitle]="'Zipcode 55503 Sale Chart'"
[yAxisLabel]="'Revenue'"
[legend]="true"
[showXAxisLabel]="true"
[showYAxisLabel]="true"
[xAxis]="true"
[yAxis]="true"
[gradient]="true">
</ngx-charts-bar-vertical>

<ngx-charts-bar-vertical 
[view]="[1000,400]"
[results]="zip4"
[xAxisLabel]="'Year'"
[legendTitle]="'Zipcode 55504 Sale Chart'"
[yAxisLabel]="'Revenue'"
[legend]="true"
[showXAxisLabel]="true"
[showYAxisLabel]="true"
[xAxis]="true"
[yAxis]="true"
[gradient]="true">
</ngx-charts-bar-vertical>
